<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justice for George Floyd</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <div id="ticker">
            <div id="links">
                <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                  <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                  <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                  <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                       <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                       <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                       <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                       <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
                       <a
                    href="https://sacreefrangine.com/" target="_blank"
                    >Illustration by Sacrée Frangine</a
                >
            </div>
        </div>
        <header>
            <h1>  Justice for George Floyd </h1>
             <p><a id="login" href="/login">Login</a></p>

        </header>


{{{body}}}




    <script src="ticker.js"></script>
</body>
</html>