
<h1> BLACK LIVES MATTERS! </h1>
<h3> - Text will come later i promise - </h3>

      <div class="container">
        <form method="POST">
          <div class="item">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
           <input type="hidden" name="_csrf" value="{{csrfToken}}">
           <input type="hidden" id="hiddenSignature" name="signature">
           
          </div>
          <div class="item"></div>
        <canvas class="signature-field" id="canvas" width="600" height="100"></canvas>
          <button type="submit"> SUPPORT </button>
          <div class="item"></div>
          </form>
</div>
<script src="script.js"></script>

