
<h1> BLACK LIVES MATTERS! </h1>
<h3> - Text will ocme later i promise - </h3>

      <div class="container">
        <form method="POST">
          <div class="item">
          <input type="text" id="first" name="first-name">
          <p>First Name</p>
          </div>
          <div class="item">
           <input type="text" id="last" name="last-name">
          <p>Last Name</p>
           <input type="hidden" class="signature-field"  name="signature">
           
          </div>
        <canvas class="signature-field" id="canvas"></canvas>
          <button type="submit"> SUBMIT </button>
          </form>
</div>

