<h1> BLACK LIVES MATTERS! </h1>
      {{!-- <img src="/photos/blacklives.jpg" alt="Black"> --}}
      <div class="container">
          <div class="item">
          <input type="text" id="first-name" name="irst-name">
          <p>First Name</p>
          </div>
          <div class="item">
           <input type="text" id="last-name" name="last-name">
          <p>Last Name</p>
           <input type="hidden" class="signature-field"  name="signature">
           
          </div>
        <canvas class="signature-field" id="canvas"></canvas>
         {{!-- <canvas id="canvas" height="200px" width="200px"></canvas> --}}

          <button> SUBMIT </button>


         
</div>

