
<h1> please sign the petition </h1>
<h3> - Text will come later i promise - </h3>

      <main>
        <form method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" id="hiddenSignature" name="signature">
           
          
         
        <canvas class="signature-field" id="canvas" width="300" height="80"></canvas>
          <button type="submit"> SUPPORT </button>
       
          </form>
          </main>

<script src="script.js"></script>

