<header>
            <h1>  Justice for George Floyd </h1>
</header>


      <main>
        <form method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <input type="hidden" id="hiddenSignature" name="signature">
           <canvas class="signature-field" id="canvas" width="300" height="80"></canvas>
          <button type="submit"> sign </button>
       
          </form>
          </main>

<script src="script.js"></script>

