<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

  
    <h1> BLACK LIVES MATTERS! </h1>
      {{!-- <img src="/photos/blacklives.jpg" alt=" Trulli"> --}}
      <div class="container">
          <div class="item">
          <input type="text" id="first-name" name="irst-name">
          <p>First Name</p>
          </div>
          <div class="item">
           <input type="text" id="last-name" name="last-name">
          <p>Last Name</p>
           {{!-- <input type="hidden" class="signature-field"  name="signature"> --}}
           
          </div>

         
</div>
 <input type="text" class="signature-field"  name="signature">



   

</body>
</html>

