<h1> LOGIN PAGE </h1>
 <form method="POST">
          <div class="item">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
                     <input type="hidden" name="_csrf" value="{{csrfToken}}">

         
          
        </div>
          <div class="item"></div>
        
          <button type="submit"> LOGIN </button>
          <div class="item"></div>
          </form>