<h1> LOGIN PAGE </h1>
 <form method="POST">
          <div class="item">
          <input type="text" id="email" name="email" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="Password">
                     <input type="hidden" name="_csrf" value="{{csrfToken}}">

         
          
        </div>
          <div class="item"></div>
                  {{#if error}}
  <div class="error">Something went wrong! It is totally your fault.</div>
        {{/if}}
        
          <button type="submit"> LOGIN </button>
          <div class="item"></div>
          </form>