<h1> Login </h1>
<main>
 <form method="POST">
         
          <input type="text" id="email" name="email" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="Password">
                     <input type="hidden" name="_csrf" value="{{csrfToken}}">
 <button type="submit"> Login </button>
          
          </form>
          <p><a id="topleft-link" href="/register">Register</a></p>
          </main>