<h1> LOGIN </h1>
<main>
 <form method="POST">
         
          <input type="text" id="email" name="email" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="Password">
                     <input type="hidden" name="_csrf" value="{{csrfToken}}">
 <button type="submit"> LOGIN </button>
          
          </form>
          </main>