<h1> MORE INFO PROFILE </h1>
 <form method="POST">
          <div class="item">
          <input type="text" id="age" name="age" placeholder="Age">
          <input type="text" id="city" name="city" placeholder="City">
           <input type="text" id="homePage" name="homePage" placeholder="Home Page">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">


         
          
        </div>
          <div class="item"></div>
        
          <button type="submit"> CONTINUE </button>
          <div class="item"></div>
          </form>