<header>
            <h1>  Justice for George Floyd </h1>
</header>
<div class="wrapper">

    <div class="right-container">
        <main>
            <form method="POST">
                      <input type="text" id="age" name="age" placeholder="Age">
                      <input type="text" id="city" name="city" placeholder="City">
                      <input type="text" id="homePage" name="homePage" placeholder="Home Page">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                      <button type="submit"> Submit </button>
            </form>
        </main>
    </div>

    <div class="left-container">
                <img class="img-register-left" src="ppl-copy.jpg"/>
    </div>
 </div>
