<h1> REGISTER PAGE </h1>
 <form method="POST">
          <div class="item">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
           <input type="text" id="email" name="email" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">


         
          
        </div>
          <div class="item"></div>
        
          <button type="submit"> REGISTER </button>
          <div class="item"></div>
          </form>


        {{#if error}}
  <div class="error">Something went wrong! It is totally your fault.</div>
        {{/if}}


          <a href="/login">Aalready registered</a>