<h1> REGISTER </h1>

<main>
 <form method="POST">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
           <input type="text" id="email" name="email" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit"> REGISTER </button>
  </form>
  </main>


        {{#if error}}
  <div class="error">Something went wrong! Please try again.</div>
        {{/if}}


          {{!-- <a href="/login">Aalready registered</a> --}}