<h1> REGISTER PAGE </h1>
 <form method="POST">
          <div class="item">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
           <input type="text" id="email" name="email" placeholder="Email">
          <input type="text" id="password" name="password" placeholder="Password">

         
          
        </div>
          <div class="item"></div>
        
          <button type="submit"> SUBMIT </button>
          <div class="item"></div>
          </form>