<h1> REGISTER PAGE </h1>
 <form method="POST">
          <div class="item">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
           <input type="text" id="email" name="email" placeholder="Email">
          <input type="text" id="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{!-- ADD ERROR IFFF --}}


         
          
        </div>
          <div class="item"></div>
        
          <button type="submit"> REGISTER </button>
          <div class="item"></div>
          </form>
          <a href="/login">Aalready registered</a>