<div class="text-con">
<p>on May 29, Derek Chauvin was arrested and charged with second 
  degree murder, third degree murder and manslaughter. The other 
  three officers were charged with aiding and abetting second degree murder, 
  aiding and abetting third degree murder and aiding and abetting manslaughter. 
  But the fight for justice continues, as does the need to keep a spotlight on 
  Minneapolis. Please help me make sure there is a fair judicial process that 
  results in justice and in the conviction of George Floyd's murderers.
</p>
</div>


<main>
 <form method="POST">
          <input type="text" id="first" name="firstName" placeholder="First Name">
          <input type="text" id="last" name="lastName" placeholder="Last Name">
           <input type="text" id="email" name="email" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit"> REGISTER </button>
        <p><a id="topleft-link" href="/login">login</a></p>
  </form>
  </main>


        {{#if error}}
  <div class="error">Something went wrong! Please try again.</div>
        {{/if}}


         