<header>
        <h1>  Justice for George Floyd </h1>
</header>


<div class="wrapper">
        <div class="left-container">
                <img class="img-register-left" src="hug.jpg"/>
        </div>

        <div class="right-container">
                <div class="text-con">
                        <h1 id="support"> Supporters in {{city}}</h1>
                        <main>
                                <ul class="city-supporters">
                                        {{#signers}}
                                        <li>{{first}} {{last}} {{age}}</li>
                                        {{/signers}}
                                </ul>
                        <p>
                                <a class="thank-u-links" href="/signers">Back</a>
                        </p>
                        </main>
                       
                </div>
        </div>
</div>


