<h1> THANKS! </h1>
<h3> - Text will ocme later i promise - </h3>


{{#fullname}}
<h1>{{firstName}} {{lastName}}</h1>
{{/fullname}}
{{#result}}
 <img src="{{signature}}" class="signature-field" width="600" height="100"/>
{{/result}}

<a href="/profile/edit">Edit profile</a>
<a href="/signers">See supporters!</a>

