<h1> THANKS! </h1>
<h3> - Text will ocme later i promise - </h3>

{{#infoCookie}}
    <h1>{{first}} {{last}}</h1>
    <img src="{{signature}}" class="signature-field" width="600" height="100"/>
{{/infoCookie}}


<a href="/signers">See supporters!</a>

