<h1> THANKS! </h1>
<h3> - Text will ocme later i promise - </h3>

{{#userInfo}}
    <h1>{{.}}</h1>
{{/euserInfo}}


{{#emojis}}
    <h1>{{.}}</h1>
{{/emojis}}

<a href="/signers">See supporters!</a>

