
{{#fullname}}
<h1> thank you {{firstName}} {{lastName}} </h1>



<main>
    <div class="thanks-div">
{{/fullname}}
{{#result}}
 <img src="{{signature}}" class="signature-field" width="300" height="80"/>
{{/result}}

<a class="thank-u-links" href="/profile/edit">Edit profile</a>
<a class="thank-u-links" href="/signers">See signers</a>

<form method="POST">
    <button class="thank-u-links" type="submit"> Delete signature</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
    </form>

</div>
</main>





