body {
    position: relative;
    /* background-image: url("blacklives.jpg"); */
    background-color: wheat;
}

.back-image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 90px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
}
h3 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 40vh;
    /* background-color: brown; */
}

.item {
    display: inline-block;
    text-align: center;
    /* background-color: chartreuse; */
    font-family: monospace;
    font-size: 18px;
}
.signature-field {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    text-align: center;
}

/* .item p {
    margin: -2px;
} */
