* {
    box-sizing: border-box;
    margin: 0;
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
#ticker {
    overflow: hidden;
    background-color: wheat;
    border-bottom: 1px solid black;
    height: 1.5em;
    position: relative;
}

#links {
    white-space: nowrap;
    position: absolute;
    left: 100%;
    top: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#links a {
    padding-right: 40px;
    color: saddlebrown;
}

body {
    /* position: relative; */
    background-image: url("blacklives.new.jpg");
}

.back-image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 90px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    color: wheat;
    -webkit-text-stroke: 1px black;
}
h3 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    color: wheat;
    -webkit-text-stroke: 1px black;
}

/* .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 40vh;
    background-color: wheat;
} */
/* 
.item {
    display: inline-block;
    text-align: center;
    background-color: chartreuse;
    font-family: monospace;
    font-size: 18px;
} */

canvas {
    border: 2px dotted black;
    text-align: center;
    display: flex;
    margin: 30px;
    background-color: burlywood;
    border-radius: 25px;
}

.signature-field {
    border: 2px dotted black;
    text-align: center;
    display: flex;
    margin: 30px;
    background-color: burlywood;
    border-radius: 25px;
}

button {
    background-color: wheat;
    height: 40px;
    width: 150px;
    /* border-radius: 25px; */
}

form {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

input {
    color: wheat;
    margin: 0 15px;
    text-align: center;
    height: 25px;
    width: 200px;
    /* border-radius: 25px; */
    border-bottom: 1px solid wheat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    /* outline: 0; */
    padding: 10px;
    margin: 20px;
}
